/* ===========
	工具样式
   =========== */
html,
body {
  font-size: 100% !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  .logo {
    margin-top: 10px;
    img {
      height: 60px;
    }
  }
  .header-wrapper {
    padding: 0 20px;
    height: 100%;
  }
  .layui-main {
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }
  .pc-nav {
    height: 80px;
    .layui-nav .layui-this:after,
    .layui-nav-bar,
    .layui-nav-tree .layui-nav-itemed:after {
      background-color: #bd262d;
    }
    .layui-nav {
      display: inline-block;
      background-color: #fff;
      border-radius: 0;
      vertical-align: middle;
      .layui-nav-item a {
        color: #888;
        line-height: 80px;
      }
      .layui-nav-bar {
        background-color: #bd262d;
      }
    }
    .change-lan {
      vertical-align: middle;

      line-height: 80px;
      a {
        color: #888;
      }
      span {
        color: #888;
      }
    }
  }
  .mobile-nav {
    display: none;
    margin-top: 10px;
    .mobile-menu {
      height: 28px;
      img {
        height: 28px;
      }
    }
  }

  @media only screen and (min-width: 750px) {
    ul#pop-nav {
      display: none !important;
    }
  }
}
.body-main {
  padding-top: 80px;
  .layui-main {
    width: 100%;
    max-width: 1200px;
    .main-wrapper {
      padding: 0 5px;
    }
  }
}
.site-banner {
  width: 100%;
  margin: 10px auto;
  img {
    width: 100%;
    display: block;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 980px) {
  .header {
    height: 48px;
    .logo {
      margin-top: 5px;
      img {
        height: 38px;
      }
    }
    .header-wrapper {
      padding: 0 15px;
    }
    .pc-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
    }

    ul#pop-nav {
      display: none;
    }
  }
  .body-main {
    padding-top: 48px;
  }
}

.index-main {
  #banner {
    &.swiper-container {
      width: 100% !important;
      height: 30vw !important;
    }
    .swiper-button-white {
      display: none;
    }
    &:hover {
      .swiper-button-white {
        display: block;
      }
    }
    .item-fir {
      background: url('../img/banner.jpg') center no-repeat;
      background-size: 100% 100%;
    }
    .item-sec {
      background: url('../img/banner2.jpg') center no-repeat;
      background-size: 100% 100%;
    }
    .item-title {
      width: 100%;
      margin: 12% auto 1%;
      color: #fff;
      font-size: 36px;
      text-align: center;
    }
    .item-intro {
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 20px;
    }
    @media only screen and (max-width: 980px) {
      &.swiper-container {
        height: 50vw !important;
      }
      .item-title {
        font-size: 1.5em;
      }
      .item-intro {
        font-size: 0.8em;
      }
    }
  }

  .index-item-box {
    margin-top: 20px;
    .index-item-list {
      text-align: center;
      .index-item-wrap {
        width: 60%;
        height: 100%;
        margin: 10% auto;
        display: block;
        border: 1px solid #ddd;
        box-shadow: 0 0 2px 0px #e1e1e1;
        transition: transform 0.3s;
        padding: 20px;
        &:hover {
          box-shadow: 0 0 5px 2px #e1e1e1;
          transform: translate(0, -5px);
        }
        img {
          width: 40%;
        }
        .title {
          color: #333;
          font-size: 1.8em;
          font-weight: 700;
          margin: 15px auto;
        }
        .info {
          color: #999;
          font-size: 0.9em;
          line-height: 1.5;
          .light {
            color: #bd262d;
          }
        }
        .layui-btn {
          margin-top: 8px;
        }
      }
    }
  }
}

//关于我们
.about-main {
  .about-item {
    margin: 20px auto 30px;
    .title-box {
      margin-bottom: 30px;
    }
    .title {
      font-size: 18px;
      line-height: 28px;
      background-color: #fff;
      padding-right: 10px;
      z-index: 5;
      float: left;
      position: relative;
    }
    .title-line {
      border-bottom: 1px solid #f0f0f0;
      width: 100%;
      float: left;
      height: 1px;
      display: inline-block;
      margin-top: -14px;
    }
    .text-area {
      color: #888;
      line-height: 24px;
      font-size: 14px;
      .text-lg {
        float: left;
        color: #bd262d;
        font-size: 50px;
        line-height: 50px;
        padding-top: 4px;
        padding-right: 10px;
        margin-top: -2px;
      }
      p {
        margin-bottom: 15px;
      }
    }
  }
}

/*底部*/
.footer {
  margin-top: 30px;
  background-color: #26190e;
  height: 60px;
  font-size: 14px;
  .layui-main {
    width: 100%;
    max-width: 1200px;
  }
  .copyright {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #999999;
    a {
      color: #999999;
    }
  }
}
