<%- include('./blocks/_header.html') %>
<div class="body-main about-main">
  <div class="container-main">
    <div class="site-banner"><img src="./img/about.jpg" alt="" /></div>
    <div class="about-item">
      <div class="title-box clear">
        <div class="title">公司简介</div>
        <span class="title-line"></span>
      </div>
      <div class="text-area">
        <p class="text-para">
          <span class="text-lg">民</span
          >泰金融集团是亚洲领先的综合金融机构，于2003年获得证券牌照、XX年获得保险经纪牌照、XX年获得资产管理牌照，是香港规模最大的非银行金融机构之一，服务遍及全球。是第一家投资人工智能、大数据服务金融的公司，也是第一家采用并实现大数据+人工智能技术做投资分析的公司。
        </p>
        <p class="text-para">
          自2003年创立以来，民泰一直致力于服务打通中港两地及国际资本与资源，助力资本服务产业，助力中国企业走向世界。
        </p>
      </div>
    </div>
  </div>
</div>
<%- include('./blocks/_footer.html') %>
<script></script>
