<%- include('./blocks/_header.html') %>
<div class="body-main about-main">
    <div class="layui-main">
        <div class="main-wrapper">
            <div class="site-banner">
                <img src="./img/about.jpg" alt="">
            </div>
            <div class="about-item">
                <div class="title-box clear">
                    <div class="title">公司简介</div>
                    <span class="title-line"></span>
                </div>
                <div class="text-area">
                    <p class="text-para"><span class="text-lg">民</span>泰证券有限公司(简称“民泰证券”)为民泰金融集团成员，其前身为2003年成立于香港的致力证券有限公司。经过逾十年的发展，目前民泰证券已经形成了以客户为中心、以专业为基础、以服务为根本、以价值创造为目标的企业发展理念，致力于将自身打造为国际一流、具有卓越品牌影响力的证券交易平台。</p>
                    <p class="text-para">经过十多年的发展，民泰证券建立起了快速便捷的股票交易平台、安全稳定的交易系统以及具有竞争力的佣金体系，能够帮助投资者迅速捕捉全球股市行情，灵活进行跨境资产配置、把握分秒间的投资机会。</p>
                    <p class="text-para">民泰证券是受香港证监会认可的持牌法团，持有香港《证券及期货条例》第1类受规管活动牌照（中央编号ALT947）。民泰证券同时也是香港联合交易所会员单位。</p>
                </div>
            </div>
            <div class="about-item">
                <div class="title-box clear">
                    <div class="title">公司团队</div>
                    <span class="title-line"></span>
                </div>
                <div class="text-area">
                    <p class="text-para"><span class="text-lg">经</span>过数十年的发展，民泰证券目前拥有500余人的证券服务团队，团队成员均来自国内外知名投行、证券公司，拥有丰富的证券从业经验，能够为客户提供专业高效的证券经纪、证券投顾、行情分析等多样化金融服务。“能用众力，则无敌于天下矣；能用众智，则无畏于圣人矣”，凭借同心同德、众志成城的团队精神以及诚信勤勉的职业操守，民泰证券相信一定能与您携手与共，共创辉煌财富人生。</p>
                </div>
            </div>
            <div class="about-item">
                <div class="title-box clear">
                    <div class="title">公司文化</div>
                    <span class="title-line"></span>
                </div>
                <div class="layui-row text-flex">
                    <div class="layui-col-md3">
                        <div class="flex-wrapper">
                            <p class="item-title">使命</p>
                            <p class="intro">以专业创造价值</p>
                            <p class="intro">用诚信服务客户</p>
                            <p class="intro">凭实力铸就财富</p>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="flex-wrapper">
                            <p class="item-title">愿景</p>
                            <p class="intro">致力于打造国际一流的</p>
                            <p class="intro">互联网券商品牌</p>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="flex-wrapper">
                            <p class="item-title">价值观</p>
                            <p class="intro">专业、专注</p>
                            <p class="intro">创新、变革</p>
                            <p class="intro">共赢</p>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="flex-wrapper">
                            <p class="item-title">发展理念</p>
                            <p class="intro">携手国内外顶尖金融机构</p>
                            <p class="intro">共创美好财富未来</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-item">
                <div class="title-box clear">
                    <div class="title">公司优势</div>
                    <span class="title-line"></span>
                </div>
                <div class="layui-row text-flex spec">
                    <div class="layui-col-md6">
                        <div class="flex-wrapper">
                            <div class="left-con pull-left">
                                <i class="iconfont icon-pinpai1"></i>
                            </div>
                            <p class="item-title">历史悠久的香港券商品牌</p>
                            <p class="intro">民泰证券前身为成立于2003年的香港本土券商“致力证券”，经过数十年的发展，民泰证券具备了成熟完善的交易制度和组织架构。</p>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="flex-wrapper">
                            <div class="left-con pull-left">
                                <i class="iconfont icon-tuandui1"></i>
                            </div>
                            <p class="item-title">专业高效的金融服务团队</p>
                            <p class="intro">民泰证券的团队成员均来自国内外知名证券、基金、投行等金融机构，具有丰富的证券市场从业经验。</p>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="flex-wrapper">
                            <div class="left-con pull-left">
                                <i class="iconfont icon-anquan"></i>
                            </div>
                            <p class="item-title">安全稳定的顶级交易系统</p>
                            <p class="intro">民泰证券自主研发的交易系统，能为投资者提供实时的全球股市行情、安全高效稳定的交易信道、毫秒级的投资交易体验。</p>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="flex-wrapper">
                            <div class="left-con pull-left">
                                <i class="iconfont icon-key"></i>
                            </div>
                            <p class="item-title">成熟完善的金融交易工具</p>
                            <p class="intro">民泰证券提供包括美股、港股等境外股票、ETF、新股认购、金融衍生品等丰富多样的金融工具，助力投资者运用多类别、多策略的资产配置，获取投资收益。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./blocks/_footer.html') %>
<script>

</script>