<%- include('./blocks/_header.html') %>
<div class="body-main index-main">

    <div class="swiper-container" id='banner'>
        <div class="swiper-wrapper">
            <div class="swiper-slide item-fir">
                <div class="item-title ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s"
                    swiper-animate-delay="0.3s">全球一站式证券交易平台</div>
                <div class="item-intro ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s"
                    swiper-animate-delay="0.3s">极速同步全球行情&nbsp;&nbsp;一网打尽美股港股</div>
            </div>
            <div class="swiper-slide item-sec">
                <div class="item-title ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s"
                    swiper-animate-delay="0.3s">随身境外股票投资专家</div>
                <div class="item-intro ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s"
                    swiper-animate-delay="0.3s">移动交易 一键投资 超低佣金 安全稳定</div>
            </div>
        </div>
        <div class="swiper-button-prev swiper-button-white"></div> <!-- 白色 -->
        <div class="swiper-button-next swiper-button-white"></div> <!-- 黑色 -->
    </div>
    <div class="layui-main">
        <div class="layui-row index-item-box">
            <div class="layui-col-md4 index-item-list">
                <a href="" class="index-item-wrap">
                    <img src="./img/index-icon1.png" alt="">
                    <p class="title">证券交易</p>
                    <p class="info">移动交易 一键投资</p>
                    <p class="info"><span class="light">超低</span>佣金 安全稳定</p>
                    <button class="layui-btn layui-btn-lg layui-btn-warm">进入下载</button>
                </a>
            </div>
            <div class="layui-col-md4   index-item-list">
                <a href="" class="index-item-wrap">
                    <img src="./img/index-icon2.png" alt="">
                    <p class="title">表格文件</p>
                    <p class="info">开户表格 在线下载</p>
                    <p class="info"><span class="light">便捷</span>填写 E-mail发送</p>
                    <button class="layui-btn layui-btn-lg layui-btn-warm">进入下载</button>
                </a>
            </div>
            <div class="layui-col-md4   index-item-list">
                <a href="./file/1_Account_Opening_Form_Cash.pdf" target="_blank" class="index-item-wrap">
                    <img src="./img/index-icon3.png" alt="">
                    <p class="title">预约开户</p>
                    <p class="info">在线预约 极速开户</p>
                    <p class="info"><span class="light">3分钟</span> 搞定开户流程</p>
                    <button class="layui-btn layui-btn-lg layui-btn-warm">立即申请</button>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('./blocks/_footer.html') %>
<script>
    var mySwiper = new Swiper('#banner', {
        effect: 'fade',
        autoplay: 4000,//可选选项，自动滑动
        loop: true,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        onInit: function (swiper) {
            swiperAnimateCache(swiper);
            swiperAnimate(swiper);
        },
        onSlideChangeEnd: function (swiper) {
            swiperAnimate(swiper);
        }
    })


</script>