<%- include('./blocks/_header.html') %>
<div class="body-main about-main">
    <div class="layui-main">
        <div class="main-wrapper">
            <div class="site-banner">
                <img src="./img/proService.jpg" alt="">
            </div>
            <div class="about-item">
                <div class="title-box clear">
                    <div class="title">产品介绍</div>
                    <span class="title-line"></span>
                </div>
                <div class="text-area">
                    <p class="text-para"><span class="text-lg">民</span>泰证券为投资者提供港股、新股认购、ETF（交易所上市交易基金），能让投资者高效运用各种金融工具，在各类别金融资产间进行灵活配置，获取高额投资回报和收益。</p>
                    <p class="text-para">民泰证券亦即将推出美股, 深港通、沪港通, 期货期权等金融产品。</p>
                </div>
            </div>
            <div class="about-item">
                <div class="title-box clear">
                    <div class="title">服务介绍</div>
                    <span class="title-line"></span>
                </div>
                <div class="layui-row text-flex spec">
                    <div class="layui-col-md6">
                        <div class="flex-wrapper pro-spec">
                            <p class="item-title">便捷开户</p>
                            <p class="intro">从注册账号到填写、上传数据，直到完成开户，仅需几分钟便可轻松搞定。</p>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="flex-wrapper pro-spec">
                            <p class="item-title">超低佣金</p>
                            <p class="intro">香港本土老牌券商，省去中间代理商高额手续费，超低佣金更具竞争优势。</p>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="flex-wrapper pro-spec">
                            <p class="item-title">顶级系统</p>
                            <p class="intro">自主研发的交易系统，安全稳定，秒速下单</p>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="flex-wrapper pro-spec">
                            <p class="item-title">实时行情</p>
                            <p class="intro">光速同步全球行情，分秒把握细微投资机会。</p>
                        </div>
                    </div>
                </div>
                <div class="layui-row pro-flex">
                    <div class="layui-col-md3">
                        <a class="pro-wrapper">
                            <i class="iconfont icon-gupiao"></i>
                            <p class="pro-title">香港股票</p>
                            <div class="pro-btn">了解更多</div>
                        </a>
                    </div>
                    <div class="layui-col-md3">
                        <a class="pro-wrapper">
                            <i class="iconfont icon-jijin"></i>
                            <p class="pro-title">交易所买卖基金</p>
                            <div class="pro-btn">了解更多</div>
                        </a>
                    </div>
                    <div class="layui-col-md3">
                        <a class="pro-wrapper">
                            <i class="iconfont icon-gupiao"></i>
                            <p class="pro-title">衍生产品</p>
                            <div class="pro-btn">了解更多</div>
                        </a>
                    </div>
                    <div class="layui-col-md3">
                        <a class="pro-wrapper">
                            <i class="iconfont icon-rengou"></i>
                            <p class="pro-title">新股认购</p>
                            <div class="pro-btn">了解更多</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('./blocks/_footer.html') %>
<script>

</script>